<sly-field title="COCO datasets">
  <sly-field>
    <el-checkbox-group v-model="state.originalDataset">
      <h3>COCO2017</h3>

      <div class="mt5">
        <el-checkbox label="train2017"></el-checkbox>
      </div>
      <div class="mt5">
        <el-checkbox label="val2017"></el-checkbox>
      </div>
      <div class="mt5">
        <el-checkbox label="test2017"></el-checkbox>
      </div>
    </el-checkbox-group>
  </sly-field>

  <div
    class="fflex align-start"
    style="flex-direction: column; margin: 0 0 20px 0"
    v-if="!context.slyProjectId"
  >
    <sly-field
      title="Result Project Name"
      description="Enter project name manually (optional) or keep empty to generate it automatically"
    >
    </sly-field>
    <el-input
      placeholder="Enter Project Name"
      v-model="state.projectName"
    ></el-input>
  </div>
</sly-field>
