<sly-field title="COCO 2017 datasets">
  <sly-field>
    <el-checkbox-group v-model="state.originalDataset">
      <div class="mt5">
        <el-checkbox label="train2017"></el-checkbox>
      </div>
      <div class="mt5">
        <el-checkbox label="val2017"></el-checkbox>
      </div>
      <div class="mt5">
        <el-checkbox label="test2017"></el-checkbox>
      </div>
    </el-checkbox-group>
  </sly-field>

  <sly-field
    title="Label preferences"
    description="Keypoints that are in the image, but not visible, namely maybe behind of an object"
  >
    <el-checkbox v-model="state.labelVisibility" label="false"
      >import invisible labels</el-checkbox
    >
  </sly-field>

  <div
    class="fflex align-start"
    style="flex-direction: column; margin: 0 0 20px 0"
    v-if="!context.slyProjectId"
  >
    <sly-field
      title="Result Project Name"
      description="Enter project name manually (optional) or keep empty to generate it automatically"
    >
    </sly-field>
    <el-input
      placeholder="Enter Project Name"
      v-model="state.projectName"
    ></el-input>
  </div>
</sly-field>
